
<section>

<!-- Lecture number and title -->
<small class="lecture-number">
    — Lecture {{ .Params.number }} —
</small>
<h1>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
</h1>


<!-- Lecturer, date and time. Also material (notes / slides), if available -->
<table class="lecture-table">
    <tr>
        <td>Lecturer:</td>
        <td>
            {{ range $i, $e := .Params.lecturer }}
                {{- if $i -}}, {{ end }}
                {{ if $e.link }}
                    <a href="{{ $e.link }}">{{ $e.name }}</a>
                {{ else }}
                    {{ $e.name }}
                {{ end }}
                {{ if $e.affiliation }} ({{ $e.affiliation }}){{- end -}}
            {{ end }}
        </td>
    </tr>
    <tr>
        <td>Date:</td>
        <td><time datetime="{{ .Params.datetime.date }}">{{ dateFormat "January 2, 2006" .Params.datetime.date  }}</time></td>
    </tr>
    <tr>
        <td>Time:</td>
        <td><time datetime="{{ .Params.datetime.time.start }}">{{ .Params.datetime.time.start }}</time>–<time datetime="{{ .Params.datetime.time.end }}">{{ .Params.datetime.time.end }}</time></td>
    </tr>
    {{ if isset .Params "material" }}
    <tr>
        <td>{{ .Params.material.name }}:</td>
        <td><a href="{{ .Params.material.url }}">Click here to download!</a></td>
    </tr>
    {{ end }}
</table>

<!-- Abstract or description of contents -->
<section class="abstract">
    <h4>Abstract:</h4>
    {{ .Content | markdownify }}
</section>

<!-- List of references -->
{{ if .Params.references }}
<section class="references">
    <h4>Recommended reading:</h4>
    <ul>
    {{ range .Params.references }}
        <li>{{ . | markdownify }}</li>
    {{ end }}
    </ul>
</section>
{{ end }}

</section>
