
<!-- Lecture number and title -->
<small class="lecture-number">
    — Lecture {{ .Params.number }} —
</small>
<h1>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
</h1>


<!-- Lecturer, date and time -->
<table class="lecture-table">
    <tr>
        <td>Lecturer:</td>
        <td>{{ range $i, $e := .Params.lecturer }}{{ if $i }}, {{ end }}<a href="{{ .link }}">{{ .name }}</a> ({{ .affiliation }}){{ end }}</td>
    </tr>
    <tr>
        <td>Date:</td>
        <td><time datetime="{{ .Params.datetime.date }}">{{ dateFormat "January 2, 2006" .Params.datetime.date  }}</time></td>
    </tr>
    <tr>
        <td>Time:</td>
        <td><time datetime="{{ .Params.datetime.time.start }}">{{ .Params.datetime.time.start }}</time>–<time datetime="{{ .Params.datetime.time.end }}">{{ .Params.datetime.time.end }}</time></td>
    </tr>
</table>

<!-- Abstract or description of contents -->
<p>
    <h4>Abstract:</h4>
    {{ .Content | markdownify }}
</p>

<!-- List of references -->
{{ if .Params.references }}
<p class="references">
    <h4>References:</h4>
    <ul>
    {{ range .Params.references }}
        <li>{{ . | markdownify }}</li>
    {{ end }}
    </ul>
</p>
{{ end }}
